@namespace PinkBlazor
@inherits Component

@switch (ButtonType)
{
    case ButtonType.Button:
        {
            if (!Hide)
            {
                <button type="button"
                        id="@Id"
                        onclick="@OnClick"
                        role="button"
                        class="btn @(Rounded ? "btn-rounded" : "") @SizeClass @Color-button"
                        disabled="@Disabled">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <i class="fas fa-@Icon"></i>
                    }
                    @Text
                </button>
            }
            break;
        }
    case ButtonType.Reset:
        {
            if (!Hide)
            {
                <button type="reset"
                        id="@Id"
                        onclick="@OnClick"
                        role="button"
                        class="btn @(Rounded ? "btn-rounded" : "") @Color-button"
                        disabled="@Disabled">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <i class="fas fa-@Icon"></i>
                    }
                    @Text
                </button>
            }
            break;
        }
    case ButtonType.Submit:
        {
            if (!Hide)
            {
                <button type="submit"
                        id="@Id"
                        onclick="@OnClick"
                        role="button"
                        class="btn @(Rounded ? "btn-rounded" : "") @Color-button"
                        disabled="@Disabled">
                    @if (!string.IsNullOrEmpty(Icon))
                    {
                        <i class="fas fa-@Icon"></i>
                    }
                    @Text
                </button>
            }
            break;
        }
}